.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  background: #567599; /* Old browsers */
  background: -webkit-linear-gradient(left, #567599, #1f2e4b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #567599, #1f2e4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-red {
  color: #ffffff;
  background-color: #50824f;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-weight: 700;
}

.button-green {
  color: #ffffff;
  background-color: #567599;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-weight: 700;
}
